<h1>Sam's Currency Exchange</h1>
  <form action="/result" method="post">
    
    <div>
      <p>
    <label for="date">Select Date:</label>
    <select name="date" id="date">
      <option>
        
      </option>
    </select>
  </p>
    
      <p>
        <label for="amount">Amount:</label>
        <input name="amount" type="number" id="amount">
      </p>
     
      <p>
        <input type='submit' value="Convert" id="convert">
      </p>
 </div>
 
 <div id="right">
     <p>
       <label for="curr_from">Currency From:</label>
       <select name="curr_from" id="curr_from">
         <option>
           
         </option>
            
       </select>
     </p>

     <p>
       <label for="curr_to">Currency To:</label>
       <select name="curr_to" id="curr_to">
  
         <option>
         
         </option>
            
       </select>
     </p>
   </div>
