<div class="results-container">
  <h2 class="result">Result:</h2>
  
  <h2 class="result-value">
    <%= @result %> <%= @curr_to %>
  </h2>
  
  <button class="back-btn"><a href="/">Back to Converter</a></button>
</div>
